################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin

# Ignore specific test resources
/TestResources/TestData/Properties
